* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: grid;
    grid-template:
      "left-menu  main-menu" 1fr /
      300px 1fr;
  }
/* LEFT MENU */
.left-menu {
    grid-area: left-menu;
    display: grid;
    grid-template:
      "left-menu__first__row" 150px
      "left-menu__second__row" 100px
      "left-menu__third__row" 150px
      "left-menu__fourth__row" 1fr;
  }
  .left-menu a{
    text-decoration: solid;
    color: black;
  }
  .left-menu__first__row {
    grid-area: left-menu__first__row;
    display: grid;
    border-bottom: 1px solid grey;
  }
  .left-menu__first__row img{
     width: 60px;
     padding-top: 10px;
     padding-left: 17px;
  }
  .left-menu__first__row__home {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__first__row__explore {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__first__row__subscription {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
    margin-bottom: 10px;
  }
  
  .left-menu__second__row {
    grid-area: left-menu__second__row;
    border-bottom: 1px solid grey;
    display: grid;
  }
  .left-menu__second__row__library {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__second__row__history {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
    margin-bottom: 5px;
  }
  /* MAIN */
  .main-menu {
    grid-area: main-menu;
    border-top: 1px solid #f0f0f0;
    display: grid;
    grid-template:
      "meme-1   meme-2   meme-3   meme-4" auto
      "meme-5   meme-6   meme-7   meme-8" 1fr /
       300px    1fr      1fr      300px;
  }
  .meme-1{
      grid-area: meme-1;
      background-color: aqua;
      width: 100px;
  }
  .meme-2{
    grid-area: meme-2;
    background-color: aqua;
      width: 100px;
  }
  .meme-3{
    grid-area: meme-3;
    background-color: aqua;
      width: 100px;
  }
  .meme-4{
    grid-area: meme-4;
    background-color: aqua;
      width: 100px;
  }
  .meme-5{
    grid-area: meme-5;
    background-color: aqua;
      width: 100px;
  }
  .meme-6{
    grid-area: meme-6;
    background-color: aqua;
      width: 100px;
  }
  .meme-7{
    grid-area: meme-7;
    background-color: aqua;
      width: 100px;
  }
  .meme-8{
    grid-area: meme-8;
    background-color: aqua;
      width: 100px;
  }