* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: grid;
    grid-template:
      'left-menu  main-menu' 1fr /
      300px 1fr;
  }
  /* LEFT MENU */
  .left-menu {
    grid-area: left-menu;
    display: grid;
    grid-template:
      'left-menu__first__row' 150px
      'left-menu__second__row' 100px
      'left-menu__third__row' 150px
      'left-menu__fourth__row' 1fr;
  }
  .left-menu a {
    text-decoration: solid;
    color: black;
  }
  .left-menu__first__row {
    grid-area: left-menu__first__row;
    display: grid;
    border-bottom: 1px solid grey;
  }
  .left-menu__first__row img {
    width: 60px;
    padding-top: 10px;
    padding-left: 17px;
  }
  .left-menu__first__row__home {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__first__row__explore {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__first__row__subscription {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
    margin-bottom: 10px;
  }
  
  .left-menu__second__row {
    grid-area: left-menu__second__row;
    border-bottom: 1px solid grey;
    display: grid;
  }
  .left-menu__second__row__library {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }
  .left-menu__second__row__history {
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    align-items: center;
    gap: 30px;
    justify-content: start;
    margin-bottom: 5px;
  }
  /* MAIN */
  .main-menu {
    grid-area: main-menu;
    border-top: 1px solid #f0f0f0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  .main-menu img{
      width: 248px;
      height: 310px;
      box-shadow: 1px 1px 1px 1px gray;
  }
  .meme-1 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-2 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-3 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-4 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-5 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-6 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-7 {
    background-color: #fff;
    border: 2px solid black;
  }
  .meme-8 {
    background-color: #fff;
    border: 2px solid black;
  }
  
  